body {
    display: flex;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
}

img {
    display: flex;
    width: 75vh;
    height: 100vh;
  }

.container .header {
    margin-top: 10vh;
    padding-left: 5vh;
    padding-right: 10vh;
    font-size: 22px;
}

.container .header1 {
    margin-top: 0;
    margin-bottom: 7vh;
    padding-left: 5vh;
    font-size: 22px;
}

.form {
    margin: 0px;
    padding-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.form h2 {
    margin: 0;
    padding: 5px;
    font-size: 22px;
}

.form-group {
    display:inline-block;
    width: 49%;
    
}


.form-group label {
    display: block;
    padding-top: 10px;
    
}

button {
    margin-top: 5vh;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
