.container {
    display: grid;
    margin: 50vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    column-gap: 10px;
}

.container div {
    border: 1px solid blue;
}